.idea
*.iml
.gitconfig
.data
.build
.DS_Store
coverage.out
resources/data/plugins
resources/data/services
resources/data/config.yml
resources/data/contexts
testdata/specs*/**/*
!/testdata/specs/petstore.yml
site
.env
*.so
vendor/
