.idea
*.iml
.gitconfig
.data
.build
.testCoverage.txt
resources/data/services
resources/data/config.yml
resources/data/contexts
resources/test/specs/**/*
!resources/test/specs/petstore.yml
site
