.idea
*.iml
.gitconfig
.data
.build
.sandbox
.integration-cache.json
.DS_Store
coverage.html
coverage.out
coverage_*
!coverage_exclude.sh
*.patch
cmd/server/services_gen.go
resources/data/services
resources/data/config.yml
resources/data/contexts
testdata/specs*/**/*
site
.env
*.so
vendor/
.go-version
