app:
  port: 2200
  homeUrl: /.ui
  serviceUrl: /.services
  settingsUrl: /.settings

services:
  petstore:
    latency: 0s
    errors:
      chance: 0%
      codes:
        400: 50%
        500: 50%
