app:
  port: 2200
  homeUrl: /.ui
  serviceUrl: /.services
  contextUrl: /.contexts
  settingsUrl: /.settings
  # disable UI if not needed. the settings from above won't have any effect
  serveUI: true
  # adds swagger-ui to each service
  serveSpec: true
  # set sub-contexts for replacements in path, header or any other supported place
  # for example:
  # in-path:
  #   pet_id: 123
  contextAreaPrefix: in-
  # Choose schema provider:
  # - libopenapi:  https://github.com/pb33f/libopenapi
  # - kin-openapi: https://github.com/getkin/kin-openapi
  schemaProvider: libopenapi

  # pre-create the file structure for the resources
  createFileStructure: true

  # response editor / display
  # for a list of themes, see https://github.com/ajaxorg/ace/tree/master/src/theme
  editor:
    theme: chrome
    fontSize: 12

services:
  # service name is the first part of the path.
  # e.g. /petstore/v1/pets -> petstore
  # in case, there's no service name, use the name ".root"
  petstore:
    latency: 0s
    errors:
      chance: 0%
      codes:
        400: 50%
        500: 50%
    # the name of the context to use when substituting the values in the request/response.
    # applied in the order of definition.
    contexts:
      - fake: pet
      - fake: gamer

    # optimize openapi schema parsing for better performance
    parseConfig:
      # parse the first 6 levels of the schema
      maxLevels: 6

      # if schema has more than 2 levels of recursion, stop parsing
      maxRecursionLevels: 2

      # validate all incoming requests and outgoing responses to conform to the schema
      # only works with kin-openapi provider
      validate:
        request: true
        response: false

      cache:
        # cache the parsed schema in memory for faster access
        schema: true
