body {
    font-family: sans-serif, Helvetica, Arial;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    flex-direction: column;
    min-height: 100vh;
}

body, h1, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #06c53b;
}

ul, ol {
    list-style: none;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.holy-grail-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
    grid-gap: 1.25rem;
    height: 100vh;
}

@media screen and (max-width: 60em) {
    .holy-grail-grid {
        grid-template-rows: 2fr 1fr 6fr;
    }
}

.holy-grail-header,
.holy-grail-left,
.holy-grail-middle,
.holy-grail-right {
    padding: 1rem;
    border: 1px solid #ededed;
    background-color: #ededed;
    border-radius: 6px;
}

.holy-grail-header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
}

@media screen and (max-width: 60em) {
    .holy-grail-left {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media screen and (max-width: 60em) {
    .holy-grail-middle {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media screen and (max-width: 60em) {
    .right-nav {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

footer {
    grid-column: 1 / 4;

    width: 99%;
    padding: 1rem;
    background-color: #ededed;
    position: sticky;
    left: 0;
    bottom: 0;
    z-index: 999;
}

.footer-block {
    display: inline-block;
    margin: 0 1rem;
}

iframe {
    border: 0;
    max-width: 100% !important;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    background-color: #ffffff;
    border-spacing: 2px;
}

th, td {
    border: 0;
    padding: 8px;
    font-size: 1.25rem;
    background-color: #ededed;
}

td:nth-child(1),
td:nth-child(3) {
    width: 10%;
    text-align: center;
}
td:nth-child(2) {
    width: 90%;
    text-align: left;
}
